/* colours 

yellow: #F4D04E
Gray-950: #111111
Gray-500: #6B6B6B
white: #ffffff 

Fonts
*/

.figtree-main {
  font-family: "Figtree", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500, 800;
  font-style: normal;
}

body {
  font-family: "Figtree", sans-serif;
  background-color: #f4d04e;
  margin: 0 auto;
  width: 100vh;
  height: 100vh;
}

main {
  justify-items: center;
  justify-self: center;
  padding: 212px 0;
  max-width: 384px;
  max-height: 522px;
}

.card {
  /* display: flex;
  flex-direction: column; */
  padding: 1.5rem;
  /* width: 384px;
  height: 522px; */
  background-color: white;
  border-radius: 20px;
  border: 1px solid #111111;
  box-shadow: 8px 8px 0 0;
}

.h1 {
  font-family: "Figtree";
  font-weight: 800;
  font-size: 1.5rem;
  line-height: 1.5em;
  letter-spacing: 0px;
  text-decoration: none;
  color: #111111;
}
.text-2 {
  font-family: "Figtree";
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.5em;
  letter-spacing: 0px;
  color: #6b6b6b;
}
.text-3 {
  font-family: "Figtree";
  font-weight: 500;
  font-size: 0.875rem;
  line-height: 1.5em;
  letter-spacing: 0px;
}
.text-3-bold {
  font-family: "Figtree";
  font-weight: 800;
  font-size: 0.875rem;
  line-height: 1.5em;
  letter-spacing: 0px;
}

.course-img {
  height: 200px;
  width: 336px;
  border-radius: 10px;
  margin-bottom: 1.5rem;
}

.learning {
  display: inline;
  background-color: #f4d04e;
  padding: 0.24rem 0.75rem;
  border-radius: 4px;
}

.author {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.75rem;
}

.author-img {
  height: 32px;
  width: 32px;
}

/* a:link,
a:visited {
} */
a:active,
a:hover {
  color: #f4d04e;
  cursor: pointer;
}
